#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
}

section {
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.section-title {
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-between;
}

label {
    margin-bottom: 0.5rem;
}

input,
textarea {
    display: block;
    width: 100%;
    padding: 0.3rem 0.7rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    border: 1px solid #000;
    border-radius: 5px;
}

.item-header {
    display: flex;
    justify-content: space-between;
}

.form-item {
    margin-bottom: 2rem;
    width: 100%;
}

.form-group {
    display: flex;
    width: 100%;
    gap: 1.5rem;
}

.cv-page {
    width: 794px;
    height: 1123px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 1rem auto;
    padding: 2.5rem;
}

.cv-header {
    text-align: center;
    border-bottom: 2px solid #333;
    padding-bottom: 1.25rem;
    margin-bottom: 1.8rem;
}

.cv-section {
    margin-bottom: 1.5rem;
}

.cv-section h2 {
    border-bottom: 1px solid #303030;
    margin-bottom: 1rem;
}

.cv-item {
    margin-bottom: 1rem;
}

.cv-group {
    display: flex;
    justify-content: space-between;
}
